<html>

<head>
    <title>數位隨堂測驗</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <style>
        * {
            font-family: sans-serif;
        }

        #settings {
            display: block;
            text-align: center;
        }

        #paint {
            background: #ffffff;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        input[type="radio"] {
            -ms-transform: scale(1.8);
            /* IE 9 */
            -webkit-transform: scale(1.8);
            /* Chrome, Safari, Opera */
            transform: scale(1.8);
            margin-right: 10px !important;
        }

        .toast {
            right: 2%;
            bottom: 2%;
            position: fixed;
            z-index: 9999;
            display: none;
        }

        .btn,
        input,
        textarea,
        .card {
            border-radius: 0 !important;
        }
    </style>


    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@3.3.4/dist/vue-router.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
        </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js">
    </script>

    <script type="text/javascript">
        // Default Configuration
        $(document).ready(function () {
            toastr.options = {
                'closeButton': true,
                'debug': false,
                'newestOnTop': false,
                'progressBar': true,
                'positionClass': 'toast-top-right',
                'preventDuplicates': false,
                'showDuration': '1000',
                'hideDuration': '1000',
                'timeOut': '8000',
                'extendedTimeOut': '5000',
                'showEasing': 'swing',
                'hideEasing': 'linear',
                'showMethod': 'fadeIn',
                'hideMethod': 'fadeOut',
            }
        });
    </script>
</head>

<body>
    <div id="app" class="p-4">
        <div v-if="RoomID"
            class="d-flex justify-content-between align-items-center text-center container alert bg-dark text-white border border-white shadow mt-2 mb-0 rounded-0">
            <span>房間代號：{{RoomID == ''? '（未加入）': RoomID}} <button type="button" v-on:click="leaveroom"
                    class="btn btn-sm btn-link text-warning">退出</button></span>
            <span class="text-white">房間名稱：{{RoomName}}&nbsp;&nbsp;&nbsp;({{Role}} {{StudentId}})</span>
        </div>
        <div class="p-2 container">

            <!-- <router-link to="/" class="btn btn-dark" v-if="!RoomID">加入房間</router-link> -->
            <router-link to="/home" class="btn btn-dark" v-if="RoomID && Role == '學生'">題目列表</router-link>
            <router-link to="/assign" class="btn btn-dark" v-if="Role == '老師'">指派題目</router-link>
            <router-link to="/revise" class="btn btn-dark" v-if="Role == '老師'">批改</router-link>
        </div>
        <router-view></router-view>


        <!-- Flexbox container for aligning the toasts -->
        <div class="float-right">
            <div role="alert" aria-live="assertive" aria-atomic="true" class="toast bg-white" data-autohide="false">
                <div class="toast-header bg-light">
                    <strong class="mr-auto pr-5" style="font-size: 26px;color:darkblue;">訊息通知</strong>
                    <small>1分鐘前</small>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body p-4" style="font-size: 18px;" v-html="NotiyMsg">
                </div>
            </div>
        </div>
    </div>


    <script type="text/x-template" id="component-join">
        <div>
            <div class="d-flex justify-content-center align-items-center h-75">
                <div class="text-center card p-4 mt-5 border border-dark shadow" style="width:400px;">
                     <h3 class="font-weight-bold text-dark p-3"><i class="fas fa-laptop-house"></i> 加入房間</h3>
                     <div class="form-group">
                        <input type="text" v-model="joinID" placeholder="房間代號 (Code)" class="p-3" style="font-size:18px">
                    </div>
                     <div class="form-group">
                         <input type="text" v-model="studentID" placeholder="學號 (Student ID)" class="p-3" style="font-size:18px">
                     </div>
                    
                     <div class="text-danger">
                         {{error}}
                     </div>
                     <div class="form-group mt-4">
                         <button type="button" v-on:click="join" class="btn btn-dark px-5">加入房間</button>
                     </div>
                    
                     <div class="form-group">
                         <button type="button" v-on:click="newroom" class="btn btn-primary px-5">建立房間</button>
                     </div>
                </div>
             </div>
     
             <!-- Modal -->
             <div class="modal fade" id="newroommodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                 <div class="modal-dialog">
                 <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">建立新房間</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <input type="text" v-model="creatorName" placeholder="建立人" class="p-3 w-100" style="font-size:18px">
                            <input type="text" v-model="roomName" placeholder="房間名稱" class="p-3 w-100 mt-2" style="font-size:18px">
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="newroomConfirm()">建立</button>
                     </div>
                 </div>
                 </div>
             </div>


        </div>
        
      </script>



    <script type="text/x-template" id="component-home">
        <div class="container">
            
            <div class="alert alert-light border border-secondary shadow text-dark text-right font-weight-bold" style="font-size:22px">
                總得分 {{total_point}}
            </div>
            <table class="table table-dark shadow">
                <thead>
                  <tr>
                    <th scope="col">#題號</th>
                    <th scope="col">題型</th>
                    <th scope="col">題目</th>
                    <th scope="col">配分</th>
                    <th scope="col" class="text-center">動作</th>
                    <th scope="col" class="text-center" style="width:90px" v-if="$parent.Role=='學生'">已繳交</th>
                    <th scope="col" class="text-center" style="width:90px" v-if="$parent.Role=='學生'">得分</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in list">
                    <th scope="row">{{item.sequence}}</th>
                    <td>{{item.type}}</td>
                    <td>{{item.content.substring(0, 20)}} ...</td>
                    <td>{{item.point}}</td>
                    <td class="text-center pt-1">
                        <button type="button" class="btn btn-light btn-sm mt-0" v-on:click="startAnswer(item.sequence)">{{ $parent.Role=='學生' ? '作答': '查看'}}</button>
                    </td>
                    <td class="text-center" style="color:#93F916" v-if="$parent.Role=='學生'"><span v-if="item.submited"><i class="fas fa-check"></i></span></td>
                    <td class="text-center" v-if="$parent.Role=='學生'">{{item.had_revise ? item.get_point : "未批改"}}</span></td>
                    
                  </tr>
                  
                </tbody>
              </table>

            
        </div>
    </script>


    <script type="text/x-template" id="component-assign">
        <div class="container">
            <table class="table table-light table-striped mt-3 border shadow-sm">
                <thead>
                  <tr class="">
                    <th scope="col">#題號</th>
                    <th scope="col">題型</th>
                    <th scope="col">題目</th>
                    <th scope="col">配分</th>
                    <th scope="col" class="text-center">動作</th>
                    <th scope="col" class="text-center">發布</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in list">
                    <th scope="row">{{item.sequence}}</th>
                    <td>{{item.type}}</td>
                    <td>{{item.content}}</td>
                    <td>{{item.point}}</td>
                    <td class="text-center pt-2">
                        <button type="button" class="btn btn-light btn-sm mt-0" v-on:click="showQuiz(item.sequence)">查看</button>

                        <!-- <button type="button" class="btn btn-danger btn-sm mt-0 ml-2" v-on:click="delete(item)">刪除</button> -->
                    </td>
                    <td class="text-center pt-3">
                        <input type="checkbox" v-on:click="releaseQuiz(item)" v-model="item.release" style="zoom:1.5;"> 
                    </td>
                  </tr>
                  
                </tbody>
              </table>
            <div class="card mt-3 shadow-sm">
                <div class="card-body">

                  <div class="my-2 font-weight-bold">題目種類</div>
                  <div>
                      <label class="radio-inline mr-3">
                        <input type="radio" v-model="type" id="inlineRadio1" value="選擇題">選擇題
                      </label>
                      <label class="radio-inline mr-3">
                        <input type="radio" v-model="type" id="inlineRadio2" value="簡答題">簡答題
                      </label>
                      <label class="radio-inline mr-3">
                        <input type="radio" v-model="type" id="inlineRadio3" value="畫圖作答">畫圖作答
                      </label>
                  </div>

                  <div class="my-2 font-weight-bold">問題描述</div>
                  <div class="py-2">
                    <textarea v-model="content" id="" rows="3" class="w-100 border border-dark p-2"></textarea>
                  </div>

                  <div v-if="type == '選擇題'">
                    <div class="my-2 font-weight-bold">答案選項</div>
                    <div class="px-4">
                        <div v-for="(opt,index) in options" class="d-flex my-2">
                            <input type="text" class="form-control" v-model="opt.val" :placeholder="'選項 ' + String.fromCharCode(index+65)" />
                            <button type="button" class="btn btn-danger btn-sm ml-4" v-on:click="removeOption(index)">－</button>
                        </div>
                       <div class="text-right"> 
                           <button type="button" class="btn btn-success btn-sm ml-4 text-right shadow-sm" v-on:click="addOption()">
                               ＋
                           </button>
                        </div>
                        <!-- <div class="text-right mt-3">
                          <button type="button" class="btn bg-primary text-white py-1 px-3">增加選項</button> 
                        </div> -->
                    </div>
                  </div>
                 
                  <div class="my-2 font-weight-bold">配分</div>
                  <div class="checkbox">
                    <label>
                        <input type="number" class="form-control" placeholder="獲得分數" v-model="point">
                    </label>
                  </div>   

                  <div class="my-4">
                    <button type="button" v-on:click="new_assigns" class="btn btn-primary btn-lg btn-block"><i class="fas fa-plus"></i> 新增題目</button>
                  </div>
                 
                </div>

            </div>
          
        </div>
    </script>

    <script type="text/x-template" id="component-answer">
        <div class="container"> 
            <div class="mt-4" style="font-size: 24px; margin-bottom: 50px">
                <span class="bg-info text-white p-3 rounded-circle mr-4">題目{{assign.sequence}}</span> {{assign.content}}
            </div> 
          
            <div v-show="assign.type == '選擇題'" class="mb-5" style="font-size:24px;margin-left:120px">
                <div v-for="(option, index) in assign.options" class="mx-2">
                    <input :id="option" type="radio" v-model="answer_option_index" :value="index" style="cursor:pointer">
                    <label :for="option" style="cursor:pointer;padding-left:10px">({{String.fromCharCode(index+65)}})&nbsp;&nbsp;{{option}}</label>
                </div>
            </div>   

            <div v-show="assign.type == '簡答題'" class="mb-5" style="font-size:24px;margin-left:120px">
                <div class="mx-2">
                    <textarea class="w-100 p-3" v-model="answer_text" cols="30" rows="5"></textarea>
                    
                </div>
            </div>   

            <div v-show="assign.type == '畫圖作答'">
                <div id="sketch" ref="sketch">
                    <canvas id="paint" ref="paint" class="border shadow-sm"></canvas>
                </div>
                
                <div id="settings" class="my-3">
                    <div class="mb-2 font-weight-bold">更改顏色</div>
                    <button class="btn btn-primary btn-sm" v-on:click="getColor('blue');">{{ color == 'blue'? "✓ ":"" }}藍筆</button>
                    <button class="btn btn-danger btn-sm" v-on:click="getColor('red');">{{ color == 'red'? "✓ ":"" }}紅筆</button>
                    <button class="btn btn-success btn-sm" v-on:click="getColor('green');">{{ color == 'green'? "✓ ":"" }}綠筆</button>
                    <button class="btn btn-secondary btn-sm" v-on:click="getColor('black');">{{ color == 'black'? "✓ ":"" }}黑筆</button>
    
                    <button class="btn btn-outline-secondary btn-sm" v-on:click="getColor('white');">{{ color == 'white'? "✓ ":"" }}橡皮擦</button>
                </div>
                
                <div id="settings"> 
                    <div class="mb-2 font-weight-bold">粗細</div>
                    <button class="btn border btn-sm" v-on:click="getSize('2');">{{ size == 2? "✓ ":"" }}細</button>
                    <button class="btn border btn-sm" v-on:click="getSize('5');">{{ size == 5? "✓ ":"" }}一般</button>
                    <button class="btn border btn-sm" v-on:click="getSize('10');">{{ size == 10? "✓ ":"" }}粗</button>
                    <button class="btn border btn-sm" v-on:click="getSize('20');">{{ size == 20? "✓ ":"" }}最粗</button>
                </div>
            </div>
            

            <hr/>
            <div class="text-center">
                <h5 class="text-center mb-4">配分 {{assign.point}}</h5>
                <button type="button" class="btn btn-dark btn-lg px-5" :disabled="assign.had_revise" v-on:click="submitAnswer" v-if="$parent.Role=='學生'">繳交答案</button>
            </div>

            <div v-if="assign.had_revise" class="alert alert-dark text-center mt-3">
                <div>得分：{{assign.get_point}}</div>
                <div>評語：{{assign.suggestion}}</div>
            </div>

            <div class="text-center">
                <button @click="$router.go(-1)" class="btn btn-outline-secondary px-5 mt-4">回上頁</button>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="component-revise">
        <div class="container">
            <div class="row mt-3">
                <div class="col-12 text-right"><button type="button" class="btn btn-light mb-3 border shadow-sm" v-on:click="refresh">重新整理</button></div>
                <div class="col-12 card shadow-sm border p-4 mb-4" v-for="(value, propertyName, index) in submitlist">
                    <h4 class="card-title border-bottom pb-2 font-weight-bold" style="cursor:pointer;">
                        <i class="fas fa-user-edit mr-2"></i>{{ propertyName }}
                    </h4>
                    <div v-for="item in value">
                        <div class="bg-light p-4"> <span class="font-weight-bold bg-dark text-white p-2 mr-2">題目 {{ item.sequence }}</span>{{ item.content }}
                            <br><br>
                            <span class="mr-2" v-for="(opt,index) in item.options">
                                ({{String.fromCharCode(index+65)}}) {{opt}}
                            </span>
                        </div>
                        <div class="p-2">
                            <div>回答：</div>
                            <div v-if="item.type=='選擇題'">
                                <span class="font-weight-bold" style="font-size:22px;">{{String.fromCharCode(item.answer_option_index+65)}}</span>
                            </div>
                            <div v-if="item.type=='簡答題'">
                                <span>{{item.answer_text}}</span>
                            </div>
                            <div v-if="item.type=='畫圖作答'" class="text-left">
                                <img :src="'/database/submits/' + item.answer_draw + '.png'" alt="" class="border shadow-sm" style="width:400px">
                            </div>
                        </div>
                        <div class="p-2 text-right">
                            <div class="text-dark">得分：<input type="number" v-model="item.get_point" :placeholder="'配分 ' + item.point" style="width:150px" class="ml-3 border border-dark text-center p-1"></div>
                            <div class="mt-2">評語：<input class="ml-3 border border-dark p-1" v-model="item.suggestion" placeholder="無" /></div>
                            <div class="mt-2">
                                <span class="text-success" v-if="item.had_revise"><i class="fas fa-check mr-2"></i>已批改</span>
                                <button type="button" class="btn btn-primary mt-2 ml-4" v-on:click="revise(item)">送出</button>
                            </div>
                        </div>
                        <div class="mb-4">提交時間：{{ item.submit_time| formatDate }}</div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/babel">
        // globals var
        var socket = io.connect();
        Vue.filter('formatDate', function (value) {
            if (value) {
                var m = new Date(value);
                var dateString = m.getFullYear() + "/" + (m.getMonth() + 1) + "/" + m.getDate() + " " + m
                    .getHours() + ":" + m.getMinutes() + ":" + m.getSeconds();
                return dateString;
            }
        });
        // 1. Define route components.
        var join = Vue.component("component-join", {
            template: '#component-join',
            data() {
                return {
                    studentID: '',
                    joinID: '',
                    error: '',
                    creatorName: '',
                    roomName: '',
                    newRoomID: '',
                }
            },
            methods: {
                join: function () {
                    var that = this;
                    if (that.studentID == '') {
                        that.error = "請輸入學號"
                        return;
                    }
                    $.ajax({
                        url: window.location.origin + '/join',
                        type: "post",
                        data: JSON.stringify({
                            "studentid": that.studentID,
                            "roomid": that.joinID,
                        }),
                        contentType: 'application/json; charset=utf-8',
                        dataType: "json",
                        success: function (res) {

                            if (res.success) {
                                app.RoomID = res.id;
                                app.RoomName = res.room_name;
                                app.Creator = res.creator;
                                app.StudentId = that.studentID;
                                app.Role = res.role;

                                socket.emit('join', {
                                    'role': res.role,
                                    'studentid': that.studentID
                                });
                                if (res.role == '學生') {
                                    that.$router.push('/home');
                                }
                                if (res.role == '老師') {
                                    that.$router.push('/assign');
                                }

                            } else {
                                that.error = '查無此房間代號。';
                            }
                        },
                        error: function (xhr, status, error) {
                            console.log(error)
                            console.log(xhr)
                        }
                    });


                },
                newroom: function () {
                    $('#newroommodal').modal();

                },
                newroomConfirm: function () {
                    var that = this;
                    if (that.creatorName == '') {
                        return;
                    }
                    $.ajax({
                        url: window.location.origin + '/newroom',
                        type: "post",
                        data: JSON.stringify({
                            "creator": that.creatorName,
                            "room_name": that.roomName
                        }),
                        contentType: 'application/json; charset=utf-8',
                        dataType: "json",
                        success: function (res) {
                            if (res.success) {
                                app.RoomID = res.id;
                                app.RoomName = res.room_name;
                                app.Creator = res.creator;
                                app.Role = '老師';

                                app.NotiyMsg =
                                    `建立房間成功，房間代號(Code)：<span class="text-success" style="font-size:30px;">${res.id}</span>`;
                                $('.toast').toast('show');

                                that.$router.push('/assign');
                            } else {
                                alert('error');
                            }
                        },
                        error: function (xhr, status, error) {
                            console.log(error)
                        }
                    });

                }
            },
        });


        var Home = Vue.component("component-home", {
            template: '#component-home',
            data() {
                return {
                    list: [],
                    total_point: 0,
                    message: ''
                }
            },
            methods: {
                startAnswer: function (seq) {
                    this.$router.push('/answer?seq=' + seq);
                },
                getAssigns: function () {
                    var that = this;
                    $.ajax({
                        url: window.location.origin + '/assigns',
                        type: "get",
                        data: {
                            roomid: that.$parent.RoomID,
                            studentid: that.$parent.StudentId,
                        },
                        dataType: "json",
                        success: function (res) {
                            that.list = res;
                            if (res.length > 0) {

                                that.total_point = res.map(r => r.get_point).reduce((a, b) =>
                                    parseInt(a || 0) + parseInt(b || 0));

                            }

                        },
                        error: function (xhr, status, error) {
                            console.log(error)
                        }
                    });
                }
            },
            mounted() {
                this.getAssigns();
                var that = this;

                socket.on('broadcast_release_client', function (data) {
                    toastr.info(data);
                    setTimeout(() => {
                        that.getAssigns();
                    }, 1000);
                });

                socket.on('broadcast_revise_server', function (data) {
                    toastr.warning(data);
                    setTimeout(() => {
                        that.getAssigns();
                    }, 1000);
                });
            },
            destroyed() {
                socket.off('broadcast_release_client');
                socket.off('broadcast_revise_server');
            }
        });



        var Assign = Vue.component("component-assign", {
            template: '#component-assign',
            data() {
                return {
                    list: [],
                    point: null,
                    type: '選擇題',
                    content: '',
                    options: [{
                        val: ''
                    }, {
                        val: ''
                    }, {
                        val: ''
                    }, {
                        val: ''
                    }]
                }
            },
            methods: {
                new_assigns: function () {
                    var that = this;
                    $.ajax({
                        url: window.location.origin + '/new_assigns',
                        type: "post",
                        data: JSON.stringify({
                            "roomid": that.$parent.RoomID,
                            "point": parseInt(that.point),
                            "type": that.type,
                            "content": that.content,
                            "options": that.options.filter(o => o.val != '').map(o => o.val)
                        }),
                        contentType: 'application/json; charset=utf-8',
                        dataType: "json",
                        success: function (res) {
                            if (res.success) {
                                toastr.success(`題目新增成功。`);
                                that.getAssignsAll();
                                that.point = 0;
                                that.content = '';
                                that.options = [{
                                    val: ''
                                }, {
                                    val: ''
                                }, {
                                    val: ''
                                }, {
                                    val: ''
                                }];
                            } else {
                                alert('error');
                            }
                        },
                        error: function (xhr, status, error) {

                        }
                    });
                },
                showQuiz: function (seq) {
                    this.$router.push('/answer?seq=' + seq);
                },
                addOption: function () {
                    this.options.push({
                        val: ''
                    });
                },
                removeOption: function (opt_index) {
                    this.options.splice(opt_index, 1);
                },
                releaseQuiz: function (item) {
                    item.release = !item.release;
                    var that = this;
                    $.ajax({
                        url: window.location.origin + '/release_assigns',
                        type: "post",
                        data: JSON.stringify({
                            "roomid": that.$parent.RoomID,
                            "sequence": item.sequence,
                            "release": item.release,
                        }),
                        contentType: 'application/json; charset=utf-8',
                        dataType: "json",
                        success: function (res) {
                            if (res.success) {
                                if (item.release) {
                                    toastr.success(`題目${item.sequence} 發布成功。`);

                                    socket.emit('broadcast_release_server', {
                                        'message': "題目 " + item.sequence + "  可以開始作答。"
                                    });
                                } else {
                                    socket.emit('broadcast_release_server', {
                                        'message': "題目 " + item.sequence + "  已被取消作答。"
                                    });
                                }
                            } else {
                                alert('error');
                            }
                        },
                        error: function (xhr, status, error) {

                        }
                    });
                },
                getAssignsAll: function () {
                    var that = this;
                    $.ajax({
                        url: window.location.origin + '/assigns_all',
                        type: "get",
                        data: {
                            roomid: that.$parent.RoomID
                        },
                        dataType: "json",
                        success: function (res) {
                            that.list = res;
                        },
                        error: function (xhr, status, error) {
                            console.log(error)
                        }
                    });
                }
            },
            mounted() {
                this.getAssignsAll();
            }
        });

        var Revise = Vue.component("component-revise", {
            template: '#component-revise',
            data() {
                return {
                    submitlist: []
                }
            },
            methods: {
                refresh: function () {
                    this.getSubmitList();
                },
                revise: function (assign) {
                    $.ajax({
                        url: window.location.origin + '/revise',
                        type: "post",
                        data: JSON.stringify({
                            "studentid": assign.studentid,
                            "roomid": assign.roomid,
                            "sequence": assign.sequence,
                            "get_point": assign.get_point,
                            "suggestion": assign.suggestion
                        }),
                        contentType: 'application/json; charset=utf-8',
                        dataType: "json",
                        success: function (res) {
                            if (res.success) {
                                assign.had_revise = true;
                                toastr.success(`批改成功。`);
                                socket.emit('broadcast_release_server', {
                                    'message': "題目 " + assign.sequence + "  已批改完成。"
                                });
                            } else {
                                alert('error');
                            }
                        },
                        error: function (xhr, status, error) {

                        }
                    });
                },
                getSubmitList() {
                    var that = this;
                    $.ajax({
                        url: window.location.origin + '/submitlist',
                        type: "get",
                        data: {
                            roomid: that.$parent.RoomID
                        },
                        dataType: "json",
                        success: function (res) {

                            that.submitlist = res;
                        },
                        error: function (xhr, status, error) {
                            console.log(error)
                        }
                    })
                }
            },
            mounted() {
                this.getSubmitList();
            }
        });

        var Answer = Vue.component("component-answer", {
            template: '#component-answer',
            data() {
                return {
                    canvas: null,
                    ctx: null,
                    size: 2,
                    color: 'red',
                    assign: {},
                    answer_option_index: null,
                    answer_text: null,
                    answer_draw: null
                }
            },
            methods: {
                getColor: function (colour) {
                    this.ctx.strokeStyle = colour;
                    this.color = colour;
                },
                getSize: function (size) {
                    this.ctx.lineWidth = size;
                    this.size = size;
                },
                initCanvas: function () {
                    this.canvas = this.$refs['paint'];
                    this.ctx = this.canvas.getContext('2d');

                    var canvas = this.canvas;
                    var ctx = this.ctx;

                    var sketch = this.$refs['sketch'];
                    var sketch_style = getComputedStyle(sketch);
                    canvas.width = 800;
                    canvas.height = 350;

                    var mouse = {
                        x: 0,
                        y: 0
                    };

                    /* Mouse Capturing Work */
                    canvas.addEventListener('mousemove', function (e) {
                        mouse.x = e.pageX - this.offsetLeft;
                        mouse.y = e.pageY - this.offsetTop;
                    }, false);

                    /* Drawing on Paint App */
                    ctx.lineJoin = 'round';
                    ctx.lineCap = 'round';
                    ctx.strokeStyle = "red";

                    canvas.addEventListener('mousedown', function (e) {
                        ctx.beginPath();
                        ctx.moveTo(mouse.x, mouse.y);

                        canvas.addEventListener('mousemove', onPaint, false);
                    }, false);

                    canvas.addEventListener('mouseup', function () {
                        canvas.removeEventListener('mousemove', onPaint, false);
                    }, false);

                    var onPaint = function () {
                        ctx.lineTo(mouse.x, mouse.y);
                        ctx.stroke();
                    };
                },
                submitAnswer: function () {
                    var that = this;
                    var imgBase64 = '';
                    switch (this.assign.type) {
                        case "選擇題":
                            break;
                        case "簡答題":
                            break;
                        case "畫圖作答":
                            imgBase64 = that.canvas.toDataURL();
                            break;
                    }
                    $.ajax({
                        url: window.location.origin + '/submitanswer',
                        type: "post",
                        data: JSON.stringify({
                            "studentid": app.StudentId,
                            "roomid": app.RoomID,
                            "sequence": that.assign.sequence,
                            "type": that.assign.type,
                            "answer_option_index": that.answer_option_index,
                            "answer_text": that.answer_text,
                            "answer_draw": imgBase64
                        }),
                        contentType: 'application/json; charset=utf-8',
                        dataType: "json",
                        success: function (res) {
                            if (res.success) {
                                toastr.success(`題目${that.assign.sequence} 繳交成功。`);
                                that.$router.push('/home');
                            } else {
                                alert('error');
                            }
                        },
                        error: function (xhr, status, error) {

                        }
                    });
                }
            },
            mounted() {
                var that = this;

                this.initCanvas();

                $.ajax({
                    url: window.location.origin + '/assignBySeq',
                    type: "get",
                    data: {
                        studentid: that.$parent.StudentId,
                        sequence: that.$route.query.seq,
                        roomid: that.$parent.RoomID
                    },
                    dataType: "json",
                    success: function (res) {
                        that.assign = res;

                        that.answer_option_index = that.assign.answer_option_index;
                        that.answer_text = that.assign.answer_text;

                        if (that.assign.answer_draw) {
                            var image = new Image();
                            image.onload = function () {
                                that.ctx.drawImage(image, 0, 0, that.canvas.width, that.canvas
                                    .height);
                            };
                            image.src = '/database/submits/' + that.assign.answer_draw + '.png';
                        }

                    },
                    error: function (xhr, status, error) {
                        console.log(error)
                    }
                })
            }
        });

        // 2. Define some routes
        // Each route should map to a component. The "component" can
        // either be an actual component constructor created via
        // `Vue.extend()`, or just a component options object.
        // We'll talk about nested routes later.
        const routes = [{
            path: '/',
            component: join
        },
        {
            path: '/home',
            components: {
                default: Home
            }
        },
        {
            path: '/assign',
            components: {
                default: Assign
            }
        },
        {
            path: '/revise',
            components: {
                default: Revise
            }
        },
        {
            path: '/answer',
            components: {
                default: Answer
            }
        }
        ]

        // 3. Create the router instance and pass the `routes` option
        // You can pass in additional options here, but let's
        // keep it simple for now.
        const router = new VueRouter({
            routes // short for `routes: routes`
        })

        // 4. Create and mount the root instance.
        // Make sure to inject the router with the router option to make the
        // whole app router-aware.
        const app = new Vue({
            router,
            data() {
                return {
                    RoomID: '',
                    RoomName: '',
                    Creator: '',
                    StudentId: '',
                    NotiyMsg: '',
                    Role: '', // 學生 or 老師
                }
            },
            methods: {
                leaveroom: function () {
                    this.RoomID = '';
                    this.RoomName = '';
                    this.Creator = '';
                    this.StudentId = '';
                    this.NotiyMsg = '';
                    this.Role = '';

                    this.$router.push('/');
                }
            },
            created() {
                var save = JSON.parse(localStorage.getItem('$data'));
                for (let prop in save) {
                    this[prop] = save[prop];
                }

                var that = this;
                socket.on('message', function (data) {
                    toastr.info(data);
                });
            },
            destroyed() {
                socket.off('message');
            },
            watch: {
                $route(to, from) {

                },
                $data: {
                    handler: function (val, oldVal) {
                        localStorage.setItem('$data', JSON.stringify(val));
                    },
                    deep: true
                }
            }
        }).$mount('#app');
    </script>
</body>

</html>